<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Chef"
            id="chef-eclipse-plugin.wizards">
      </category>
      <wizard
            category="chef-eclipse-plugin.wizards"
            class="chefeclipseplugin.wizards.ChefProjectNewWizard"
            icon="icons/chef_logo_v2.svg"
            id="chefeclipseplugin.wizards.ChefProjectNewWizard"
            name="Chef Cookbook Project"
            project="true">
      </wizard>
      <wizard
            category="chef-eclipse-plugin.wizards"
            class="chefeclipseplugin.wizards.RecipeNewWizard"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.wizards.recipe"
            name="Recipe"
            project="false"
            />
      <wizard
            category="chef-eclipse-plugin.wizards"
            class="chefeclipseplugin.wizards.AttributeNewWizard"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.wizards.attribute"
            name="Attribute"
            project="false"/>
      <wizard
            category="chef-eclipse-plugin.wizards"
            class="chefeclipseplugin.wizards.TemplateNewWizard"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.wizards.template"
            name="Template"
            project="false"/>
      <wizard
            category="chef-eclipse-plugin.wizards"
            class="chefeclipseplugin.wizards.FileNewWizard"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.wizards.file"
            name="File"
            project="false"/>
      <wizard
            category="chef-eclipse-plugin.wizards"
            class="chefeclipseplugin.wizards.LWRPNewWizard"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.wizards.lwrp"
            name="LWRP"
            project="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="chef-eclipse-plugin.category"
            class="chefeclipseplugin.navigator.ChefNavigator"
            icon="icons/chef_logo_v2_16x16.png"
            id="chef-eclipse-plugin.navigator"
            name="Chef Navigator">
      </view>
      <category
            id="chef-eclipse-plugin.category"
            name="Chef">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="chef-eclipse-plugin.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="chef-eclipse-plugin.navigator">
         <includes>
            <contentExtension
                  pattern="chef-eclipse-plugin.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="chefeclipseplugin.perspective.PerspectiveFactory"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.perspective"
            name="Chef Perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="chef-eclipse-plugin.perspective">
         <view
               id="chef-eclipse-plugin.navigator"
               minimized="false"
               ratio="0.25"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="chef-eclipse-plugin.nature"
         name="Chef Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="chefeclipseplugin.nature.ChefNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/chef_logo_v2_16x16.png"
            id="chef-eclipse-plugin.image"
            natureId="chef-eclipse-plugin.nature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            contentProvider="chefeclipseplugin.navigator.ContentProvider"
            icon="icons/chef_logo_v2.svg"
            id="chef-eclipse-plugin.navigatorContent"
            labelProvider="chefeclipseplugin.navigator.LabelProvider"
            name="Chef Content">
         <triggerPoints>
            <instanceof
                  value="chefeclipseplugin.navigator.ChefNavigatorWorkbenchRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
      <commonFilter
            activeByDefault="true"
            class="chefeclipseplugin.filter.Filter"
            id="chef-eclipse-plugin.filter"
            name="Chef"
            visibleInUI="true">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Chef"
            class="chefeclipseplugin.preferences.GeneralPreferencePage"
            id="chef-eclipse-plugin.generalpreference"
            name="Chef Preferences">
      </page>
   </extension>

</plugin>
